@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@100;300;400;500;700;900&family=Staatliches&display=swap');

// Fonts
$main_font: 'Roboto', sans-serif;
$text_font: 'Roboto', sans-serif;

// Colours
$primary: #2c77cc;
$primary-light: #75E1C6;
$primary-dark: #1b4d86;
$primary-tone: #25A887;
$orange:#da853b;
$dark-orange:#b76e2e;
$red: #FF4746;
$dark-red: rgb(173, 57, 57);
$green: #127662;
$dark-green: #0c4d40;
$blue: #21599a;
$pink: #FF7BAB;
$textColor: #728e94;
$brown-black: #434746;


$white: #FFFFFF;
$gray: #A39F9D;
$lightGray: #e7e7e7;
$veryLightGray: #F5F5F5;
$appointmentGray: #7dbace;
$appointmentGray: #c7d0d3;
$darkGray: #4c515c;
$blueish-gray: #07074d;
$black: #000;

$borders: 5rem;